/* color: white;
mix-blend-mode: difference;
backdrop-filter: invert */

/* alt bij img */


:root{
    --pink-light: #FFF0F7;
    --pink: #ff4c9f;
    --blue: #0a93ce;
    --pink-background: #ffc5e0;
    --blue-background: #abe6ff;
    --beige: rgb(249, 247, 246);
    --black: #342C33;
    --white: #FCFCFC;
    --less-opacity-button-bg-color: rgb(249, 247, 246, .5);


    --gradient: -webkit-linear-gradient(left, var(--pink), var(--blue) 80%);
    --gradient-non-webkit: linear-gradient(left, var(--pink), var(--blue) 80%);
    --gradient-background: -webkit-linear-gradient(left, var(--pink-background), var(--blue-background));
    --gradient-background-half: -webkit-linear-gradient(left, var(--pink-background), var(--blue-background)65%, var(--beige) 90%);
    --gradient-background-half-inverted: -webkit-linear-gradient(left, var(--beige) 30%, var(--blue-background), var(--pink-background));


    --border-radius-big: 2rem;
    --border-radius-small: 1rem;
    --border-radius-extra-small: .7rem;

    --border-big: .1rem solid var(--black);
    --border-small: .1rem solid var(--black);

    --box-shadow: .1rem .1rem 0rem 0rem var(--black);

}








/* --------------------------------------------------------------GENERAL-------------------------------------------------------------- */

body{
    --width-page: 90vw;
    position: relative;
    color: var(--black);
    background-color: var(--beige);
    margin: 0rem 1.6rem;
    max-width: var(--width-page);
    margin: auto;
    overflow-x: hidden;
}

*{
    padding-inline-start: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    list-style: none;
}

.gradient{
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.button{
    padding: .5rem .6rem;
    border: var(--border-small);
    border-radius: var(--border-radius-extra-small);
    font-size: .9rem;
    background-color: var(--beige);
    color: var(--black);
    box-shadow: var(--box-shadow);
}

@media(min-width: 800px){
    .button{
        font-size: 1rem;
    }
}

.container-space-between{
    display: flex;
    justify-content: space-between;
}












/* --------------------------------------------------------------HERO-------------------------------------------------------------- */

#overlay-image-header{
    position: absolute;
    z-index: -1;
    margin-left: -5vw;
    height: 45rem;
    width: 100vw;
    backdrop-filter: blur(.3rem);
}

#logo{
    top: 1.5rem;
    margin-left: -1vw;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.1rem;
    position: relative;
}

.name-image{
    margin-top: 3rem;
}

h1{
    margin-top: 0rem;
    font-size: 2rem;
}

#image-header{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100%;
    border: var(--border-small);
    box-shadow: var(--box-shadow);
}

#quote-header{
    font-size: 1.4rem;
    text-align: left;
    margin-top: 2rem;
}

#quote-header-desktop{
    display: none;
}

.br-quote-header-desktop{
    display: none;
}

#container-list-header{
    display: flex;
    font-size: .75rem;
    justify-content: space-between;
    margin-top: .7rem;
}

.header-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-header{
    width: 1.3rem;
    position: relative;
    top: .5rem;
    filter: invert(16%) sepia(13%) saturate(516%) hue-rotate(257deg) brightness(91%) contrast(92%);
}

#p-header{
    font-size: 1rem;
    margin-top: 3.5rem;
}

.connect-bio{
    margin-top: 2rem;
}

#view-full-bio{
    text-decoration: none;
    border-bottom: var(--border-small);
    font-size: .9rem;
    margin-top: .6rem;
}

#view-full-bio:visited{
    color: var(--black);
}

#arrow-view-bio{
    margin-bottom: -.25rem;
    width: 1.2rem;
    filter: invert(9%) sepia(13%) saturate(752%) hue-rotate(258deg) brightness(104%) contrast(84%);
}

@media(min-width: 350px){
    h1{
        font-size: 2.1rem;
    }
    
    #quote-header{
        transform: translateY(0rem);
    }  
}

@media(min-width: 420px){
    #container-list-header{
        margin-top: 1rem;
    }

    .header-icon-text{
        display: block;
    }

    .icon-header{
        top: .1rem;
        width: 1rem;
    }

    .icon-header-br{
        display: none;
    }  

    #br-quote-header{
        display: none;
    }
}

@media(min-width: 450px){
    #container-list-header{
        font-size: .9rem;
    }
}

@media(min-width: 700px){    

    #container-list-header{
        display: flex;
        justify-content: space-between;
    }
    
    .header-icon-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .6rem;
    }

    .br-quote-header-desktop{
        display: block;
    }

    #header-container-with-quote{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 3rem;
        /* background-color: rgba(102, 51, 153, 0.207); */
    }

    #header-container-without-quote{
        display: flex;
        flex-direction: column;
        max-width: 40rem;
    }

    #quote-header{
        display: none;
    }
    
    #quote-header-desktop{    
        display: block;    
        text-align: right;
        font-size: 3rem;
        line-height: 1.1;
    }

    .name-image{
        margin-top: 3rem;
    }
    
    h1{
        font-size: 2.5rem;
    }
    
    #image-header{
        width: 6rem;
        height: 6rem;
    }
    
    #container-list-header{
        font-size: 1rem;
    }
    
    #p-header{
        margin-top: 3.5rem;
    }
    
    .connect-bio{
        margin-top: 2rem;
        column-gap: 2rem;
        justify-content: flex-start;
    }

    #view-full-bio{
        font-size: 1rem;
    }
}

@media(min-width: 800px){    

    #container-list-header{
        direction: row;
    }
    
    .header-icon-text{
        display: block;
    }

    #quote-header-desktop{    
        display: block;    
        text-align: right;
        font-size: 2.7rem;
        line-height: 1.1;
    }
}

@media(min-width: 1000px){    
    body{
        --width-page: 70vw;
    }

    #container-list-header{
        display: flex;
        justify-content: space-between;
    }
    
    .header-icon-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .6rem;
        font-size: .8rem;
    }

    #logo{
        margin-left: -10vw;
    }
    
    #quote-header-desktop{    
        font-size: 5.5rem;
        margin-top: 2rem;
    }
    
    .connect-bio{
        min-width: 19rem;
    }
}

@media(min-width: 1200px){
    .header-icon-text{
        font-size: 1rem;
    }
}

@media(min-width: 1300px){
    #container-list-header{
        display: flex;
    }
    
    .header-icon-text{
        display: block;
    }
}










/* --------------------------------------------------------------ALL PROJECTS-------------------------------------------------------------- */

#background-all-projects{
    width: 100vw;
    margin-left: -5vw;
    height: fit-content;
    background-color: var(--pink-light);
    margin-top: 6rem;
    border-radius: var(--border-radius-big);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    border-top: var(--border-big);
    border-bottom: var(--border-big);
}

#container-all-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 5rem;
}

#all-projects{
    margin: auto;
    width: fit-content;
    background-color: var(--pink-light);
    position: relative;
    top: -1.6rem;
    padding: .4rem 1.5rem 4rem 1.5rem;
    border-radius: 1.4rem;
    border-top: var(--border-big);
}

.container-projects{ 
    position: relative; 
}

.container-projects:first-of-type{ 
    margin-top: -4rem;
}

.image-project{ 
    border-radius: 2rem/10rem; 
    border-radius: var(--border-radius-big);
    width: 85vw;
}

.name-project, .views-project{
    position: absolute;
    padding: .35rem .6rem;
    border-radius: var(--border-radius-extra-small);
    font-size: .8rem;
    background-color: var(--less-opacity-button-bg-color);
    backdrop-filter: blur(.3rem);
    top: 1rem;
    box-shadow: var(--box-shadow);
}

.name-project{ 
    left: 2rem; 
}

.views-project{ 
    right: 2rem; 
}

.eye-project{
    position: relative;
    top: .1rem;
}

#container-button-lets-talk{
    width: var(--width-page);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

#load-more-button{
    height: fit-content;
    font-size: .8rem;
}

#load-more-count{
    border: var(--border-small);
    padding: .05rem .2rem;
    margin-left: .2rem;
    border-radius: .4rem;
}

#got-a-project{
    margin: 0;
    text-align: right;
    font-size: 1.2rem;
    transform: translateY(-.5rem);
}

#lets-talk{
    text-decoration: none;
    text-underline-offset: .5rem;
    text-decoration-thickness: .1rem;
    padding-bottom: .3rem;
    border-bottom: .1rem solid;
    border-image: var(--gradient-non-webkit);
}

#arrow-lets-talk{
    margin-bottom: -.3rem;
    width: 1.8rem;
    filter: invert(28%) sepia(99%) saturate(3838%) hue-rotate(221deg) brightness(100%) contrast(102%);
}

@media(min-width: 400px){
    #got-a-project{
        font-size: 1.5rem;
    }

    #load-more-button{
        font-size: .9rem;
    }
}

@media(min-width: 800px){
    #container-button-lets-talk{
        width: 70vw;
    }

    #background-all-projects{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #all-projects{
        top: -1.5rem;
        font-size: 2rem;
        padding: .5rem 1.5rem 4rem 1.5rem;
    }
    
    .container-projects:first-of-type{ 
        margin-top: 0rem;
    }
    
    .image-project{ 
        width: 40vw;
        max-width: 40rem;
    }
    
    .name-project, .views-project{
        font-size: 1rem;
    }
    
    .eye-project{
        width: 1.2rem;
    }
    
    #got-a-project{
        font-size: 1.7rem;
    }
}

@media(min-width: 1000px){
    #background-all-projects{
        width: 90vw;
        margin-left: -10vw;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
}














/* --------------------------------------------------------------BIOGRAPHY-------------------------------------------------------------- */

#section-biography{
    background-color: var(--beige);
    width: 100vw;
    margin-left: -5vw;
    padding-top: 5rem;
}

#bio, #skills{
    display: inline-block;
    padding: 0rem 0rem .1rem 1.5rem;
    background-image: var(--gradient-background-half);
    /* background-color: var(--pink-light); */
    width: 7rem;
    white-space: nowrap;
}

#bio-text, #skills-text{
    width: 80vw;
    padding-left: 1.5rem;
}

#bio-text, #skills-text, #coding-text{
    font-size: .8rem;
    margin-top: 0rem;
}

#container-bio{
    margin-bottom: 7.5rem;
}

#container-coding{
    background-image: var(--gradient-background);
    /* background-color: var(--pink-light); */
    width: 100vw;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    margin-bottom: 5rem;
    position: relative;
}

#person-sitting{
    position: absolute;
    top: -6.25rem;
    left: 1.5rem;
    /* transform: scaleX(-1);
    rotate: -15deg;
    top: -7rem;
    left: 4rem; */
}

#person-sitting-desktop{
    display: none;
}

#container-coding-no-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

#coding, #coding-text{
    text-align: right;
    width: 9rem;
    padding-right: .5rem;
}

#container-image-resume-button{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#container-image-resume-button-desktop{
    display: none;
}

#image-biography{
    border-radius: var(--border-radius-big);
    height: 16rem;
    width: 8rem;
    object-fit: cover;
}

#download-resume-button{
    bottom: 3rem;
    position: absolute;
    width: fit-content;
    padding: .4rem .6rem;
    font-size: .7rem;
    background-color: var(--less-opacity-button-bg-color);
    backdrop-filter: blur(.3rem);
}

@media(min-width: 375px){
    
    #coding, #coding-text{
        padding-right: .5rem;
    }
    
    #image-biography{
        height: 18rem;
        width: 10rem;
    }
    
    #download-resume-button{
        padding: .4rem .6rem;
        font-size: .8rem;
    }
}

@media(min-width: 800px){
    
    #container-image-resume-button{
        display: none;
    }
    
    #container-all-biography-items{
        display: flex;
        flex-direction: column;
        /* background-color: rgba(165, 42, 42, 0.625); */
        flex: 0 0 70%;
    }
    
    #section-biography{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* column-gap: 6rem; */
        width: 100vw;
        margin-left: -15vw;
        padding-left: 0;
        padding-right: 0;
        /* background-color: rgba(102, 51, 153, 0.154); */
    }

    .br-coding-text{
        display: none;
    }

    #bio, #skills, #coding{
        display: inline-block;
        padding: 0rem 0rem .1rem 15vw;
        background-image: var(--gradient-background-half);
        width: 7rem;
        white-space: nowrap;
        font-size: 1.3rem;
    }

    #coding{
        padding: 0rem 5vw .1rem 0rem;
        background-image: var(--gradient-background-half-inverted);
    }
    
    #bio-text, #skills-text, #coding-text{
        width: fit-content;
        padding-left: 15vw;
        font-size: 1rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #container-bio, #container-coding-no-image{
        margin-bottom: 4rem;
    }

    #container-bio, #container-skills{
        width: 80%;
    }

    #container-coding-no-image{
        text-align: right;
        width: fit-content;
        height: fit-content;
    }
    
    #container-coding{
        background-image: none;
        width: fit-content;
        height: fit-content;
        margin-bottom: 0rem;
        margin-right: 0;
        padding-right: 0;
    }

    #coding-text{
        padding-right: 5vw;
    }

    #person-sitting{
        position: absolute;
        top: -6.25rem;
        left: 1.5rem;
        display: none;
    }

    #person-sitting-desktop{
        position: absolute;
        top: -6.25rem;
        left: 1.5rem;
    }

    #container-coding-no-image{
        display: inline;
    } 
    
    #coding, #coding-text{
        text-align: right;
        width: fit-content;
    }

    #container-image-resume-button-desktop{
        display: block;
        position: relative;
        margin-right: 15vw;
        /* background-color: red; */
    }
    
    #image-biography{
        border-radius: 3rem;
        height: 30rem;
        width: 35vw;
        object-fit: cover;
    }
    
    #download-resume-button-desktop{
        bottom: 3rem;
        width: 10rem;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}


@media(min-width: 1000px){
    #container-all-biography-items{
        flex: 0 0 60%;
    }
}










/* --------------------------------------------------------------TECH STACK-------------------------------------------------------------- */

#section-tech-stack{
    background-color: var(--pink-light);
    border-radius: var(--border-radius-big);
    margin-top: 5rem;
    margin-bottom: 6rem;
    border-top: var(--border-big);
    border-bottom: var(--border-big);
}

#container-header-tech-stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#text-fav-tools{
    margin: 0;
    text-align: right;   
    font-size: .9rem;
}

#text-fav-tools-br{
    display: none;
}

#hr-tech-stack{
    display: none;
}

#tech-stack{
    margin: 0;
    font-size: 2.2rem;
    padding-bottom: .2rem;
}

#list-tech-stack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1.2rem;
    width: 80vw;
    margin: 2rem auto;
    padding-bottom: 3rem;
}

.tools{
    width: fit-content;
    white-space: nowrap;
    font-size: .8rem;
    padding: .4rem .5rem;
}

.star-fav-tools{
    position: relative;
    top: .05rem;
    filter: invert(16%) sepia(13%) saturate(516%) hue-rotate(257deg) brightness(91%) contrast(92%);
}

@media(min-width: 410px){
    #container-header-tech-stack{
        flex-direction: row;
        padding-top: 2rem;
    }
    
    #text-fav-tools-br{
        display: block;
        flex: 1;
        order: 1;
    }
    
    #hr-tech-stack{
        display: inline;
        transform: rotate(90deg);
        width: 2rem;
        height: .01rem;
        background-color: var(--black);
        border: none;
        margin: 0;
        order: 2;
    }
    
    #tech-stack{
        order: 3;
    }
}













/* --------------------------------------------------------------FEEBDACK-------------------------------------------------------------- */

#feedback-title, #feedback-text{
    position: relative;
    box-shadow: var(--box-shadow);
    margin: auto;
    border-radius: var(--border-radius-small);
    background-color: var(--pink-light);
}


#feedback-title{
    width: fit-content;
    padding: 1rem 3rem 2rem 3rem;
    text-decoration: underline;
    text-decoration-thickness: .4rem;
    text-decoration-color: var(--white);
    text-underline-offset: .7rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

#feedback-text{
    margin-top: 2rem;
    width: var(--width-page);
    font-size: .9rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

#feedback-title::before, #feedback-text::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 1.3rem solid transparent;
    border-right: 1.3rem solid transparent;
    border-top: 2rem solid var(--pink-light);
    position: absolute;
    bottom: -2rem;
    right: 2rem;
}

#feedback-text::before{
    left: 2rem;
}

#feedback-title::after, #feedback-text::after{
    content: "";
    width: .1rem;
    height: 2.3rem;
    background-color: var(--black);
    position: absolute;
    bottom: -2.15rem;
    right: 2.6rem;
    rotate: 33deg;
}

#feedback-text::after{
    left: 3.9rem;
}

#feedback-name{
    text-align: right;
    display: block;
    position: absolute;
    right: 0rem;
    bottom: -2.5rem;
}

#image-and-speech-bubble{
    position: relative;
    margin-top: 3.5rem;
}

#image-person-feedback{
    position: absolute;
    left: 3rem;
}

#speech-bubble-person{
    width: 8rem;
    height: 4.5rem;
    background-color: var(--pink-light);
    position: absolute;
    top: 7rem;
    left: 1rem;
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.stripes-speech-bubble{
    width: 80%;
    height: .3rem;
    background-color: var(--white);
}

.hand-person{
    border-radius: 100%;
    width: .6rem;
    aspect-ratio: 1/1;
    background-color: #FABC8E;
    position: absolute;
    top: 6.7rem;
    left: 3.7rem;
}

.hand-person:nth-of-type(2){
    left: 5.1rem;
    top: 6.8rem;
}

@media(min-width: 350px){
    #feedback-title{
        font-size: 1.5rem;
    }
}














/* --------------------------------------------------------------GOOD READS-------------------------------------------------------------- */

#good-reads{
    background-color: var(--white);
    border-top: var(--border-big);
    border-bottom: var(--border-big);
    border-radius: var(--border-radius-big);
    width: 100vw;
    margin-top: 16.8rem;
    margin-left: -15vw;
    margin-bottom: 3rem;
}

#ul-articles{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}

#ul-articles::-webkit-scrollbar{
    height: .5rem;
}

#ul-articles::-webkit-scrollbar-thumb{
    border-radius: var(--border-radius-big);
    background-color: var(--pink-light);
}

#ul-articles::-webkit-scrollbar-track{
    border-radius: var(--border-radius-big);
    background-color: var(--white);
}

.articles{
    background-color: var(--white);
    border: var(--border-small);
    border-radius: var(--border-radius-small);
    min-width: 9rem;
    height: 10rem;
    font-size: .9rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
}

.articles::after{
    content: "Read →";
    text-decoration: underline;
    text-underline-offset: .3rem;
    bottom: .5rem;
    right: 1rem;
    font-size: .8rem;
    position: absolute;
}

#good-reads-text{
    text-align: right;
    background-color: var(--pink-light);
    padding: .3rem 6rem .4rem 1rem;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: fit-content;
    border-radius: 1rem/5rem;
    border-radius: var(--border-radius-small);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
}

#container-books-person{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: var(--width-page);
    margin: auto;
    margin-top: -10rem;
    z-index: 1;
    position: relative;
}

#books{
    width: 5rem;
}

@media(min-width: 350px){
    #books{
        width: 6rem;
    }
}











/* --------------------------------------------------------------FAQ-------------------------------------------------------------- */

#section-client-ask-me{
    width: 80vw;
    margin-left: 5vw;
}

#client-ask-me{
    text-align: center;
    margin-bottom: 2.5rem;
}

#arrow-curved{
    filter: invert(16%) sepia(13%) saturate(516%) hue-rotate(257deg) brightness(91%) contrast(92%);
    rotate: 180deg;
    transform: translateY(-.7rem);
}

.question{
    font-size: 1rem;
    position: relative;
    margin-top: 1rem;
}   

.question::after{
    content:"";
    background-image: url('assets/plus.svg');
    background-size: .9rem .9rem;
    display: inline-block;
    width: .9rem; 
    aspect-ratio: 1/1;
    position: absolute;
    margin-right: 5vw;
    right: -1rem;
    top: .3rem;
    filter: invert(16%) sepia(13%) saturate(516%) hue-rotate(257deg) brightness(91%) contrast(92%);
}

.answer{
    font-size: .9rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.hr-questions{
    height: .01rem;
    background-color: var(--black);
    border: none;
}


@media(min-width: 340px){
    .question{
        font-size: 1.1rem;
    }   
}

@media(min-width: 370px){
    #br-clients-ask-me{
        display: none;
    }
}











/* --------------------------------------------------------------FOOTER-------------------------------------------------------------- */

footer{
    border-top: var(--border-big);
    border-bottom: var(--border-big);
    border-radius: var(--border-radius-big);
    background-color: var(--pink-light);
    margin-top: 5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2.5rem 1rem 0rem;
    overflow: clip;
}

#name-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-left: -5rem;
    margin-bottom: -1rem;

}

#name-footer{
    margin: 0;
    background-color: var(--pink-light); 
    padding: .7rem .6rem 1rem 1rem; 
    margin-left: -5rem;
    font-size: .8rem;
    z-index: 10;
    order: 1;
    margin-top: -4rem;
    white-space: nowrap;
    transform: translateX(5rem);
}

#image-footer{
    height: 12rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: -2.5rem 0rem;
    border-radius: 100%;
}

#footer-container{
    text-align: right;
}

#quote-footer{
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 2rem;
    white-space: nowrap;
}

#available-for-hire{
    font-size: .8rem;
    margin: 0;
    margin-bottom: .7rem;
}

#connect-button-footer{
    font-size: .8rem;
    padding: .4rem .6rem;
}


@media(min-width: 400px){  
    #name-image{
        margin-bottom: -1rem;
    }
    
    #name-footer{
        margin-left: -2rem;
        font-size: 1rem;
        transform: translateX(4rem);
        padding: .7rem .6rem 1rem 1rem; 
    }

    #connect-button-footer{
        font-size: .9rem;
        padding: .5rem .6rem;
    }
}

@media(min-width: 550px){
    footer{
        padding: 1rem 2.5rem;
    }

    #name-image{
        flex-direction: row;
        width: 0rem;
        margin-left: 0rem;
    }

    #name-footer{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin: 0;
        padding-left: 2.5rem;
        margin-left: -2.5rem;
        font-size: 1.7rem;
        border-radius: 2rem 0rem 0rem 2rem;
        transform: translateX(0rem);
    }
    
    #image-footer{
        margin-left: -4.5rem;
        order: 1;
    }

    #footer-container{
        text-align: right;
    }

    #quote-footer{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    #available-for-hire{
        font-size: .8rem;
        margin: 0;
        margin-bottom: .7rem;
    }

    #connect-button-footer{
        font-size: .9rem;
        padding: .5rem .6rem;
    }
}








#under-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#copyright{
    font-size: .7rem;
    font-weight: 400;
}

#social-media-all{
    display: flex;
    column-gap: .8rem;
}

.social-media{
    filter: invert(9%) sepia(13%) saturate(752%) hue-rotate(258deg) brightness(104%) contrast(84%);
    width: 1rem;
}